$fa-font-path: "../fonts" !default;
// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Montserrat);

// Font Variables
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Helpers
.text-center {
  text-align: center;
}

body {
  background: #ecf0f1;
  font-size: 18px;
  font-family: $lato;
  font-weight: 300;
  color: #839496;
  margin: 0;
}

h1, h2 {
  letter-spacing: -0.1em;
  font-size: 1.3em;
  font-family: $montserrat;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  text-decoration:none;
}

header {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/header.jpg') no-repeat center fixed;
  background-size: cover;
  color: white;
  animation: overlay 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#me {
  font-size: 1.4em;
  // height: 50vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: move 2s;
  animation-delay: 13s;
  animation-fill-mode: forwards;

  i.fa-envelope {
    margin-right: 5px;
  }

  @media only screen and (min-width: 1024px) {
    font-size:2em;
  }
}

section#social {
  margin-top: 5vh;

  #social-header {
     font-size: 1.4em;
     margin-bottom:10px;

     @media only screen and (min-width: 1024px) {
        font-size:2em;
     }
  }

  #links {
    width: 300px;
    margin: auto;

    .link {
      white-space: nowrap;
    }

    .siberia {
       position: relative;
       top: 2px;

       svg path {
          fill: #93a1a1;
       }
    }

    a {
      margin: 0 5px;
      color: #93a1a1;
      transition: all .5s ease 0s;

      svg path {
        transition: fill .5s ease 0s;
        fill: #93a1a1;
      }

      &:hover {
        text-decoration: none;
        color: #444;

        svg path {
          fill: #444;
        }
      }
    }
  }
}

.button {
  font-family: $montserrat;
  font-size: 16px;
  border: 2px solid;
  border-color: white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  margin-top: 20px;
  padding: 7px 30px;
  text-transform: uppercase;
  transition: all .5s ease 0s;
  text-align: center;

  &:hover {
    text-decoration: none;
    background: white;
    color: #444;
  }
}

/* you start with transparent type and faux cursor */
/* each character has typing animation for .5s */
/* fill mode makes the text keep the color it gets in animation */
.char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9,
.char10, .char11, .char12, .char13, .char14, .char15, .char16, .char17,
.char18 {
  color: transparent;
  border-right: .1em solid transparent;
  animation: typing .5s;
  animation-fill-mode: forwards;
}

.char1 {animation-delay: .5s;}
.char2 {animation-delay: 1s;}
.char3 {animation-delay: 1.5s;}
.char4 {animation-delay: 2s;}
.char5 {animation-delay: 2.5s;}
.char6 {animation-delay: 3s;}
.char7 {animation-delay: 3.5s;}
.char8 {animation-delay: 4s;}
.char9 {animation-delay: 4.5s;}
.char10 {animation-delay: 5s;}
.char11 {animation-delay: 5.5s;}
.char12 {animation-delay: 6s;}
.char13 {animation-delay: 6.5s;}
.char14 {
  padding-right: 8px;
  animation: typing 1s;
  animation: blink 1s 3;
  animation-delay: 7s;
}
.char15 {animation-delay: 10s;}
.char16 {animation-delay: 10.5s;}
.char17 {animation-delay: 11s;}
 /* give your last character some padding and the blink animation */
.char18 {
  padding-right: 8px;
  animation: typing 1s;
  animation: blink 1s infinite;
  animation-delay: 11.5s;
}

.highlight {
  opacity: 0;
  animation: appear 2s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {height: 100vh;}
    to {height: 50vh;}
}

@keyframes appear {
  from {opacity: 0;}
    to {opacity: 1;}
}

/* typing animation */
@keyframes typing {
  from, to {color: white; border-color: transparent; }
  70% {color: white; border-color: white; }
}
@-moz-keyframes typing {
  from, to {color: white; border-color: transparent; }
  70% {color: white; border-color: white; }
}

/* the blinking faux cursor at the end */
@keyframes blink {
  from, to {color: white; border-color: transparent;}
  50% {border-color: white;}
}
@-moz-keyframes blink {
  from, to {border-color: transparent;}
  50% {border-color: white;}
}
